
.form-control:focus {
    @apply shadow-none border-[#BA68C8]
}
.profile-button {
    @apply shadow-none border-[none] focus:shadow-none active:shadow-none;
    background: rgb(99, 39, 120)
}
.profile-button:hover {
    background: #682773
}
.profile-button:focus {
    background: #682773
}
.profile-button:active {
    background: #682773
}
.back:hover {
    @apply text-[#682773] cursor-pointer
}
.labels {
    @apply text-[11px]
}
.add-experience:hover {
    @apply text-white cursor-pointer border-[solid] border-[#BA68C8];
    background: #BA68C8
}